.App {
  max-width: 400px;
  margin: 10px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  color: black;
}

a:link {
  margin: 10px 0;
  color: #db17a0;
}

.App h1 {
  text-align: center;
  color: black;
}
